.App {
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  text-align: center;
  padding: 25px;
}

.temperature-slider {
  min-width: 300px;
}

input#city-input  {
  min-width: 300px;
}

.current-conditions h2 {
  color: dodgerblue;
}

.current-conditions h3 {
  color: dimgrey;
}

footer {
  padding: 2px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #EEEEEE;
  font-size: small;
  text-align: center;
}

header {
  padding: 25px;
}